In [1]:
import pandas as pd 
df = pd.read_csv("appledata_01.csv")
df.head()

      Open    High      Low   Close     Volume
0  145.960  148.00  145.650  147.81   65447450
1  148.210  149.13  146.610  148.31   71250420
2  141.395  148.72  140.550  148.03  111380900
3  144.290  144.81  140.355  141.17   83763800
4  145.140  146.64  143.380  144.22   69346520

In [22]:
pd.date_range(start="2017/07/01",end="2017/07/21",freq='B')

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

In [13]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

usb = CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [48]:
rng = pd.date_range(start="2017/01/01",end="2018/01/16", freq=usb)
len(rng)
rng

DatetimeIndex(['2017-01-03', '2017-01-04', '2017-01-05', '2017-01-06',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-17',
               ...
               '2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
               '2018-01-08', '2018-01-09', '2018-01-10', '2018-01-11',
               '2018-01-12', '2018-01-16'],
              dtype='datetime64[ns]', length=260, freq='C')

In [49]:
df.set_index(rng, inplace=True)
df

               Open      High       Low   Close     Volume
2017-01-03  145.960  148.0000  145.6500  147.81   65447450
2017-01-04  148.210  149.1300  146.6100  148.31   71250420
2017-01-05  141.395  148.7200  140.5500  148.03  111380900
2017-01-06  144.290  144.8100  140.3550  141.17   83763800
2017-01-09  145.140  146.6400  143.3800  144.22   69346520
...             ...       ...       ...     ...        ...
2018-01-09  172.700  175.3000  171.6400  172.00   96903960
2018-01-10  179.610  180.1700  174.6400  174.92   94537600
2018-01-11  172.860  173.9458  170.9500  171.66   77251200
2018-01-12  171.680  174.1000  170.6800  172.39   82465400
2018-01-16  152.215  153.5900  148.5613  150.04   89868330

[260 rows x 5 columns]

In [54]:
from pandas.tseries.holiday import AbstractHolidayCalendar, nearest_workday, Holiday
class myBirthDayCalendar(AbstractHolidayCalendar):
    rules = [
        Holiday('Dhaval"s Birth Day', month=4, day=15)
    ]
nyc = CustomBusinessDay(calendar=myBirthDayCalendar())
nyc

In [55]:
pd.date_range(start="2017/04/01",end="2017/04/30", freq=nyc)

DatetimeIndex(['2017-04-03', '2017-04-04', '2017-04-05', '2017-04-06',
               '2017-04-07', '2017-04-10', '2017-04-11', '2017-04-12',
               '2017-04-13', '2017-04-14', '2017-04-17', '2017-04-18',
               '2017-04-19', '2017-04-20', '2017-04-21', '2017-04-24',
               '2017-04-25', '2017-04-26', '2017-04-27', '2017-04-28'],
              dtype='datetime64[ns]', freq='C')

In [60]:
b = CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu',holidays-["2017/07/04"])
pd.date_range(start="2017/04/01", end="2017/04/30", freq=b)

SyntaxError: positional argument follows keyword argument (407237507.py, line 1)