In [1]:
import pandas as pd

In [2]:
weather_data = {
    'day':['1/01/2017','1/02/2017','1/03/2017','1/04/2017','1/05/2017','1/06/2017'],
    'temperatutre':[32,35,28,24,32,32],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Smow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)

In [3]:
df

         day  temperatutre  windspeed  event
0  1/01/2017            32          6   Rain
1  1/02/2017            35          7  Sunny
2  1/03/2017            28          2   Smow
3  1/04/2017            24          7   Snow
4  1/05/2017            32          4   Rain
5  1/06/2017            32          2  Sunny

In [4]:
df.shape

(6, 4)

In [5]:
df.head()

         day  temperatutre  windspeed  event
0  1/01/2017            32          6   Rain
1  1/02/2017            35          7  Sunny
2  1/03/2017            28          2   Smow
3  1/04/2017            24          7   Snow
4  1/05/2017            32          4   Rain

In [6]:
df.head(2)

         day  temperatutre  windspeed  event
0  1/01/2017            32          6   Rain
1  1/02/2017            35          7  Sunny

In [7]:
df.tail(1)

         day  temperatutre  windspeed  event
5  1/06/2017            32          2  Sunny

In [8]:
df[2:5]

         day  temperatutre  windspeed event
2  1/03/2017            28          2  Smow
3  1/04/2017            24          7  Snow
4  1/05/2017            32          4  Rain

In [9]:
df[:]

         day  temperatutre  windspeed  event
0  1/01/2017            32          6   Rain
1  1/02/2017            35          7  Sunny
2  1/03/2017            28          2   Smow
3  1/04/2017            24          7   Snow
4  1/05/2017            32          4   Rain
5  1/06/2017            32          2  Sunny

In [10]:
df.columns

Index(['day', 'temperatutre', 'windspeed', 'event'], dtype='object')

In [11]:
df.day

0    1/01/2017
1    1/02/2017
2    1/03/2017
3    1/04/2017
4    1/05/2017
5    1/06/2017
Name: day, dtype: object

In [12]:
df['event'] #df.event

0     Rain
1    Sunny
2     Smow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [13]:
type(df['event'])

pandas.core.series.Series

In [14]:
df[['event','day']]

   event        day
0   Rain  1/01/2017
1  Sunny  1/02/2017
2   Smow  1/03/2017
3   Snow  1/04/2017
4   Rain  1/05/2017
5  Sunny  1/06/2017

In [15]:
df[['event','day','temperatutre']]

   event        day  temperatutre
0   Rain  1/01/2017            32
1  Sunny  1/02/2017            35
2   Smow  1/03/2017            28
3   Snow  1/04/2017            24
4   Rain  1/05/2017            32
5  Sunny  1/06/2017            32

In [16]:
df['temperatutre'].max()

35

In [17]:
df['temperatutre'].mean()

30.5

In [18]:
df['temperatutre'].min()

24

In [19]:
df['temperatutre'].std()

3.8858718455450894

In [20]:
df.describe()

       temperatutre  windspeed
count      6.000000   6.000000
mean      30.500000   4.666667
std        3.885872   2.338090
min       24.000000   2.000000
25%       29.000000   2.500000
50%       32.000000   5.000000
75%       32.000000   6.750000
max       35.000000   7.000000

In [21]:
df[df.temperatutre>=32]

         day  temperatutre  windspeed  event
0  1/01/2017            32          6   Rain
1  1/02/2017            35          7  Sunny
4  1/05/2017            32          4   Rain
5  1/06/2017            32          2  Sunny

In [22]:
df[df.temperatutre==df.temperatutre.max()]

         day  temperatutre  windspeed  event
1  1/02/2017            35          7  Sunny

In [23]:
df[df.temperatutre==df['temperatutre'].max()]

         day  temperatutre  windspeed  event
1  1/02/2017            35          7  Sunny

In [24]:
df['day'][df.temperatutre==df['temperatutre'].max()]

1    1/02/2017
Name: day, dtype: object

In [25]:
df[['day','temperatutre']][df.temperatutre==df['temperatutre'].max()]

         day  temperatutre
1  1/02/2017            35

In [26]:
df

         day  temperatutre  windspeed  event
0  1/01/2017            32          6   Rain
1  1/02/2017            35          7  Sunny
2  1/03/2017            28          2   Smow
3  1/04/2017            24          7   Snow
4  1/05/2017            32          4   Rain
5  1/06/2017            32          2  Sunny

In [27]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [28]:
df.set_index('day')

           temperatutre  windspeed  event
day
1/01/2017            32          6   Rain
1/02/2017            35          7  Sunny
1/03/2017            28          2   Smow
1/04/2017            24          7   Snow
1/05/2017            32          4   Rain
1/06/2017            32          2  Sunny

In [29]:
df

         day  temperatutre  windspeed  event
0  1/01/2017            32          6   Rain
1  1/02/2017            35          7  Sunny
2  1/03/2017            28          2   Smow
3  1/04/2017            24          7   Snow
4  1/05/2017            32          4   Rain
5  1/06/2017            32          2  Sunny

In [30]:
df.set_index('day',inplace=True)

In [31]:
df

           temperatutre  windspeed  event
day
1/01/2017            32          6   Rain
1/02/2017            35          7  Sunny
1/03/2017            28          2   Smow
1/04/2017            24          7   Snow
1/05/2017            32          4   Rain
1/06/2017            32          2  Sunny

In [32]:
df.loc['1/03/2017']

temperatutre      28
windspeed          2
event           Smow
Name: 1/03/2017, dtype: object

In [33]:
df.reset_index(inplace=True)

In [34]:
df

         day  temperatutre  windspeed  event
0  1/01/2017            32          6   Rain
1  1/02/2017            35          7  Sunny
2  1/03/2017            28          2   Smow
3  1/04/2017            24          7   Snow
4  1/05/2017            32          4   Rain
5  1/06/2017            32          2  Sunny

In [35]:
df.set_index('event',inplace=True)

In [36]:
df

             day  temperatutre  windspeed
event
Rain   1/01/2017            32          6
Sunny  1/02/2017            35          7
Smow   1/03/2017            28          2
Snow   1/04/2017            24          7
Rain   1/05/2017            32          4
Sunny  1/06/2017            32          2

In [44]:
df.loc['Snow']

day             1/04/2017
temperatutre           24
windspeed               7
Name: Snow, dtype: object